.doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title About
        link(rel="stylesheet", href="./about.css")

    body
        iframe(src="https://about.me/ukjp-labs", frameborder="0", class="fullscreen")