html(lang='en')
    head
        meta(charset='utf-8')
        meta(max-width="")
        title About
        link(rel="stylesheet", href="./about.css")

    body
        div(class="profile-left")
        div(class='profile-right')