@import url("https://fonts.googleapis.com/css?family=Roboto");

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
//TODO: DESKTOP XL
$desktopxl: 1024;
$desktop: 800px;
$mobile: 480px;
@media screen and (min-width: 800px) {
  body {
    background-image: url("./img/construction.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #3d84a8;
  }
}
@media screen and (max-width: 799px) {
  body {
    background-image: url("./img/construction.mobile.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #63adc6;
  }
}
@mixin tablet() {
  @media screen and (max-width: $desktop) and (min-width: $mobile) {
    @content;
  }
}
@mixin mobile() {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
@mixin desktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

.holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: table;
}

.content {
  display: table-cell;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(225, 225, 225, 0.5);
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @include tablet() {
    p {
      font-weight: 700;
      font-size: 3vmax;
      font-style: bold;
      text-overflow: wrap;
    }
    width: 80%;
    height: 90%;
    max-height: 450px;
  }
  @include mobile() {
    p {
      font-weight: 700;
      font-size: 2vmax;
      font-style: bold;
      text-overflow: wrap;
    }
    width: 80%;
    height: 90%;
  }
  @include desktop {
    p {
      font-weight: 700;
      font-size: 3vmin;
    }
    max-width: 300px;
    max-height: 150px;
  }

  margin: auto;
}
